.vscode
venv

*.csv

*.py.swp

# for stm32 cmake projects
build/
CMakeFiles
build.ninja
compile_commands.json
CMakeCache.txt

# just in case someone does a colcon build here by mistake
log
build
install
